<table class="table table-hover ">
  <thead>
    <tr>
      <th>App. No</th>
      <th class="column-hide">Fecha</th>
      <th>Persona Física</th>
      <th class="column-hide">Monto</th>
      <th class="column-hide">From</th>
      <th class="column-hide">Status</th>
      <th class="column-hide">Score</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-point" data-toggle="modal" data-target="#myModal">
      <th scope="row">1</th>
      <td class="column-hide">05-03-2017</td>
      <td>José Méndez</td>
      <td class="column-hide">$3000</td>
      <td class="column-hide">empresa</td>
      <td class="column-hide">Aplicación completa</td>
      <td class="column-hide">0</td>
    </tr>
    <tr class="table-point" data-toggle="modal" data-target="#myModal">
      <th scope="row">2</th>
      <td class="column-hide">05-03-2017</td>
      <td>José Méndez</td>
      <td class="column-hide">$3000</td>
      <td class="column-hide">empresa</td>
      <td class="column-hide">Aplicación completa</td>
      <td class="column-hide">0</td>
    </tr>
    <tr class="table-point" data-toggle="modal" data-target="#myModal">
      <th scope="row">3</th>
      <td class="column-hide">05-03-2017</td>
      <td>José Méndez</td>
      <td class="column-hide">$3000</td>
      <td class="column-hide">empresa</td>
      <td class="column-hide">Aplicación completa</td>
      <td class="column-hide">0</td>
    </tr>
    
  </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalles</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, eaque suscipit cupiditate, praesentium corporis nam beatae vitae consequatur nemo impedit quod possimus. Aliquid vel, dolorem nulla cumque quasi rerum. Quas.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>