@import "../../styles.scss";

.bg-menu{
    background-color: $myblue;
    
}

.text-menu{
    color: white !important;
    font-size: 13px;
    margin-right: 10px;
}

.text-menu:hover{
    
    background: #3E76C3;

}

.fa{
    font-size: 1.1em;
}