<nav class="navbar navbar-toggleable-md navbar-inverse bg-menu">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
  </button>
  <a class="navbar-brand" href="#">CREZE</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown" >
    <ul class="navbar-nav mr-auto" >
        <li class="nav-item">
          <a class="nav-link text-menu"  href="#">Solicitudes <i class="fa fa-address-card-o" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-menu" href="#">Comercial <i class="fa fa-line-chart" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-menu" href="#">Dashboard <i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-menu"  href="#">Originación <i class="fa fa-laptop" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-menu" href="#">Cartera <i class="fa fa-list-alt" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-menu" href="#">Analytics <i class="fa fa-line-chart" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-menu"  href="#">Usuarios 
            <i class="fa fa-users" aria-hidden="true"></i> 
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-menu" href="#">Partners 
            <i class="fa fa-users" aria-hidden="true"></i>
          </a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right dropdown-right">
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle text-menu" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hola Manuel
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
